body{
    background-color: aqua;
}
h2{
    color:#dcbafe;

}
 h1{
            color: rgb(231, 37, 7);
            
            text-align: center;
            text-transform: uppercase;
           
        }