body{
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 12px;
        height: 100vh;

        
 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.box1{
    display: flex;
    height: 200px;
 align-items: center;
     justify-content: center;
    width: 200px;
    background-color: rgb(193, 249, 156);

}

.box2{
    display: flex;
    height: 200px;
   align-items: center;
     justify-content: center;
    width: 200px;
    background-color: rgb(80, 154, 194);
}

.box3{
    display: flex;
    height: 200px;
   align-items: center;
     justify-content: center;
    width: 200px;
    background-color: rgb(202, 70, 153);
}

.box4{
    display: flex;
    height: 200px;
    align-items: center;
     justify-content: center;
    width: 200px;
    background-color: rgb(176, 205, 29);
}

.box5{
    display: flex;
    height: 200px;
   
    width: 200px;
    background-color: rgb(29, 102, 205);
}

.box6{
    display: flex;
    height: 200px;
   
    width: 200px;
    background-color: rgb(205, 105, 29);
}

.box7{
    display: flex;
    height: 200px;
   
    width: 200px;
    background-color: rgb(176, 29, 205);
}
