body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.profile {
    width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.contact {
    margin-top: 15px;
    font-size: 16px;
}
