.container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px 100px;
    border: 2px solid black;
    background-color: aqua;
}
.box {
    background-color: rgb(33, 138, 170);
    border: 2px solid rgb(239, 4, 204);
    display: flex;
    color: rgb(18, 17, 14);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.box1{
    grid-column: span 2;
}
.box4{
    grid-row: span 2;
}



