*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 194, 132);
}
.container{
    height: 100px;
  border: 2px solid green;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    border: 2px solid red;
    width: 50px;
    height: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
